.form {
	&__item {
		width: 100%;
	}

	&__field {
		@include adaptive-value-base('font-size', 14, 10, 1);
		width: 100%;
		padding: 20px;
		color: var(--color-dark-600);
		background-color: var(--color-grey-150);
		border: 1px solid var(--color-grey-300);
		border-radius: 6px;
		outline: 0;
		transition: border-color 0.3s;

		@include mq(sm) {
			padding: 20px 16px;
		}

		&::placeholder {
			transition: color 0.3s;
		}

		&:focus-visible {
			border-color: var(--color-orange-500);
		}

		@media (any-hover: hover) {
			&:hover {
				&::placeholder {
					color: var(--color-dark-600);
				}
			}
		}
	}

	&__text {
		@include adaptive-value-base('font-size', 12, 8, 1);

		a {
			color: var(--color-white);
			outline: 0;
			transition: color 0.3s;

			&:focus-visible {
				box-shadow: 0 0 0 2px var(--color-orange-500);
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--color-orange-500);
				}
			}
		}
	}
}
