<button class="modal-thank" data-graph-path="modal-thank" type="button" style="display: none;"></button>
<div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-thank">
        <div class="graph-modal__box">
            <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
            <div class="graph-modal__wrapper">
                <span class="graph-modal__title title title--small">
                    <span class="title__accent">Спасибо</span>
                    за заявку
                </span>
                <div class="graph-modal__text">
                    <p>В ближайшее время мы обработаем данные и свяжемся с вами!</p>
                </div>
                <button class="button graph-modal__btn js-modal-close" type="button">
                    Отлично!
                </button>
            </div>
        </div>
    </div>
</div>