body {
	color: var(--color-grey-600);
	font-weight: var(--font-weight-regular);
	font-size: 16px;
	font-family: var(--font-family-rubik), Arial, sans-serif;
	line-height: 1.4;
	background-color: var(--color-white);

	@include mq(md) {
		font-size: 14px;
	}
}

.container {
	width: 100%;
	max-width: 1520px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.disable-scroll {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.menu {
	&__link {
		display: flex;
		gap: 10px;
		align-items: center;
		padding: 2px 0;
		font-size: 15px;
		line-height: 1;

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--color-orange-500);
			}
		}
	}

	&__icon {
		@include adaptive-value-base('width', 20, 14, 1);
		@include adaptive-value-base('height', 20, 14, 1);
		@include bg;
	}
}

.content {
	display: flex;
	overflow-x: auto;
	@include adaptive-value-base('padding-bottom', 30, 24, 1);
}

.swiper-slide {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	opacity: 0;

	&--active {
		z-index: 4;
		opacity: 1;
	}
}
