:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-dark-600: #2b2e35;
	--color-grey-600: #7e8085;
	--color-grey-300: #d4d4d4;
	--color-grey-150: #f6f6f6;

	--color-orange-500: #ff5b01;
	--color-orange-400: #ff8329;
	--color-yellow-400: #ffbc46;
	--color-green-300: #80c95e;
	--color-green-250: #a8f186;

	--font-family-rubik: 'Rubik';

	--font-weight-regular: 400;
	--font-weight-medium: 500;

	--header-height: 0;
}

$color-black: #000000;
$color-grey-150: #f6f6f6;
