.burger-menu {
	display: none;
	background-color: var(--color-grey-150);

	@include mq(lg) {
		position: fixed;
		top: 0;
		display: flex;
		width: 100%;
		padding-top: var(--header-height);
		overflow: hidden;
		transform: translateX(100%);
		visibility: hidden;
		transition: transform 0.5s;
	}

	&--active {
		@include mq(lg) {
			right: 0;
			z-index: 50;
			height: 100vh;
			overflow-y: auto;
			transform: translateX(0);
			visibility: visible;
			opacity: 1;
			transition: transform 0.3s ease-in-out;
		}
	}
}
