.burger-button {
	$burger-width: 50px;
	$burger-height: 50px;
	$burger-line-height: 2px;

	flex-basis: $burger-width;
	flex-shrink: 0;
	order: 1;
	height: $burger-height;
	color: var(--color-black);
	background-color: var(--color-grey-150);
	border: 1px solid var(--color-grey-300);
	border-radius: 50%;
	@include flex-normal;

	@include mq(lg, min) {
		display: none;
	}

	@include mq(sm) {
		flex-basis: 35px;
		height: 35px;
	}

	&__line {
		position: relative;
		width: 18px;
		height: $burger-line-height;
		background-color: currentColor;
		transition: background-color 0.3s ease-in-out;

		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 18px;
			height: $burger-line-height;
			background-color: currentColor;
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
			content: '';
		}

		&::before {
			top: -6px;
		}

		&::after {
			bottom: -6px;
		}
	}

	&--active {
		.burger-button__line {
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;

			&::before,
			&::after {
				top: 50%;
				transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}
