.header {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	border-radius: 0 0 40px 40px;
	box-shadow: 16px 3px 32px 0 rgba(0, 0, 0, 0.04),
		0 0 30px 0 rgba(0, 0, 0, 0.08);

	@include mq(sm) {
		border-radius: 0 0 25px 25px;
	}

	&--fixed {
		position: fixed;
		transform: translateY(0);
		transition: transform 0.35s ease-out;
	}

	.navigation {
		&__container {
			@include flex-direction(flex-start, space-between);
		}
	}
}

.header-top {
	padding: 10px 0;
	background-color: var(--color-grey-150);

	@include mq(lg) {
		display: none;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: 1;
	}

	&__name {
		margin-right: auto;
	}

	.contacts {
		@include flex-normal;
		gap: 35px;
	}
}

.header-bottom {
	position: relative;
	z-index: 60;
	padding: 25px 0;
	background-color: var(--color-white);
	border-radius: 0 0 40px 40px;

	@include mq(sm) {
		padding: 20px 0;
		border-radius: 0 0 25px 25px;
	}

	&__navigation {
		@include flex-normal(center, space-between);
		gap: 20px;
	}

	.logo {
		&__descr {
			display: none;

			@include mq(lg) {
				display: inline-flex;
			}

			@include mq(md) {
				display: none;
			}
		}
	}

	.call {
		flex-shrink: 0;
	}
}

.header-bottom {
	.menu {
		display: flex;
		gap: 10px;
		align-items: center;
		overflow-x: auto;

		@include mq(lg) {
			display: none;
		}

		&__link {
			@include flex-normal;
			padding: 20px 18px;
			white-space: nowrap;
			background-color: var(--color-grey-150);
			border: 1px solid transparent;
			border-radius: 6px;
			transition: border-color 0.3s;

			@media (any-hover: hover) {
				&:hover {
					border-color: var(--color-orange-500);
				}
			}
		}

		&__icon {
			width: 20px;
			height: 20px;
			@include bg;
		}
	}
}
