.logo {
	@include flex-normal;
	gap: 15px;

	&__link {
		@include flex-normal;
		@include adaptive-value-base('width', 130, 77, 1);
		@include adaptive-value-base('height', 60, 35, 1);
		padding: 5px;
		background-color: var(--color-orange-500);
		border-radius: 6px;
		outline: 0;

		&:focus-visible {
			box-shadow: 0 0 0 2px var(--color-green-300);
		}
	}

	&__img {
		@include adaptive-value-base('width', 80, 50, 1);
		@include adaptive-value-base('height', 20, 12, 1);
		object-fit: contain;
	}

	&__descr {
		max-width: 150px;
		color: var(--color-dark-600);
		@include adaptive-value-base('font-size', 14, 10, 1);
	}
}
