.title {
	@include adaptive-value-base('font-size', 38, 20, 1);
	font-weight: var(--font-weight-medium);
	line-height: 1.2;
	text-transform: uppercase;

	&--large {
		@include adaptive-value-base('font-size', 52, 24, 1);
	}

	&--small {
		@include adaptive-value-base('font-size', 26, 18, 1);
	}

	&--normalcaps {
		text-transform: none;
	}

	&__subtitle {
		@include adaptive-value-base('font-size', 14, 10, 1);
		position: relative;
		color: var(--color-grey-600);
		font-weight: var(--font-weight-regular);

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			width: 100vw;
			height: 1px;
			background-color: var(--color-grey-300);
			transform: translateY(-50%);
			content: '';
		}

		&::before {
			left: calc(-100vw - 20px);

			@include mq(lg) {
				display: none;
			}
		}

		&::after {
			right: calc(-100vw - 20px);
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__accent {
		color: var(--color-orange-500);
	}
}
