.thank-card {
	@include adaptive-value-base('padding-top', 36, 16, 1);
	@include adaptive-value-base('padding-bottom', 36, 16, 1);
	@include adaptive-value-base('border-radius', 15, 10, 1);
	background-color: var(--color-white);
	@include flex-normal;

	&__link {
		width: 203px;
		height: 288px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
