.services {
	@include adaptive-value-base('padding-top', 120, 80, 1);
	@include adaptive-value-base('padding-bottom', 160, 80, 1);

	&__title {
		grid-area: title;
		@include mq(lg) {
			@include adaptive-value-base('margin-bottom', 40, 16, 1);
		}
	}

	&__wrapper {
		@include mq(xl, min) {
			display: grid;
			grid-template-areas: '. title' 'decor content';
			grid-template-columns: 325px 1fr;
			gap: 40px 50px;
		}
	}

	&__bg {
		@include bg(cover);
		grid-area: decor;
		height: 400px;
		border-radius: 15px;
		box-shadow: 16px 3px 32px 0 rgba(0, 0, 0, 0.04),
			0 0 16px 0 rgba(0, 0, 0, 0.05), 0 3px 80px 0 rgba(0, 0, 0, 0.05);

		@include mq(xl) {
			display: none;
		}
	}

	&__content {
		grid-area: content;
	}

	&__items {
		@include adaptive-value-base('margin-bottom', 40, 16, 1);
	}

	// &__item {
	// 	position: relative;
	// }
}
