.stages {
	@include adaptive-value-base('padding-bottom', 90, 60, 1);

	.container {
		@include mq(lg) {
			padding-right: 0;
		}
	}

	&__header {
		@include adaptive-value-base('margin-bottom', 40, 24, 1);

		@include mq(lg, min) {
			width: 100%;
			max-width: 730px;
			margin-right: auto;
			margin-left: auto;
		}

		@include mq(lg) {
			padding-right: 20px;
		}
	}

	&__title {
		@include adaptive-value-base('margin-bottom', 10, 5, 1);
	}

	&__text {
		p {
			&:not(:last-child) {
				@include adaptive-value-base('margin-bottom', 15, 5, 1);
			}
		}
	}

	&__wrapper {
		position: relative;
		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--color-grey-300);
			content: '';
		}

		&::before {
			top: 0;
		}

		&::after {
			@include adaptive-value-base('bottom', 30, 24, 1);
		}
	}

	&__items {
		display: flex;
		overflow-x: auto;
		@include adaptive-value-base('padding-bottom', 30, 24, 1);
	}

	&__item {
		flex-shrink: 0;
		width: 20%;

		@include mq(lg) {
			width: 48%;
		}

		@include mq(sm) {
			width: 95%;
		}

		&:not(:last-child) {
			border-right: 1px solid var(--color-grey-300);
		}
	}
}
